html{
  scroll-behavior: smooth;
}

body{
  background-color: lightgray;
  float: left;
}
.topNav{
  min-height: 4em;
  max-width: 100vw;
  display: flex;
  align-items: center;
}

.show{
  display: block;
}

.notShow{
  display: none;
}

.sideMenu{
  min-height: 100vh;
  width: 100%;
  padding-top: 6em;
  position: absolute;
  z-index: 10;
}

.content{
  padding-top: 5em;
  max-width: 100vw;
  min-height: 100vh;
  background-color: lightgray;
}

.paper{
  color: rgba(0, 0, 0, 0.50);
  background-color: white;
  margin: .5em 1em;
  padding: .75em;
  border-radius: .35em;
}

.topBut{
  position: sticky;
  bottom: 1em;
  left: 1em;
}